* {margin: 0px; padding: 0px; font-family: Arial, Helvetica, sans-serif;}
*, *::before, *:after {box-sizing: border-box;}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 15%);
}


header {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 95%);
    padding: 0.5rem;
    font-size: 2.75rem;
    font-weight: bold;
    text-align: center;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
    font-size: 1.5rem;
}

#links, #user {
    display: flex;
}

#links a {
    padding: 0.75rem 1.75rem;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.25s ease;
}

#links a:hover {
    background-color: hsla(0, 0%, 100%, 10%);
}

#user a {
    margin: 0.5rem 0.5rem;
    padding: 0.125rem 0.75rem;
    border: 0.125rem solid hsl(0, 0%, 95%);
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 15%);
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.25s ease;
}

#user a:hover {
    background-color: inherit;
    color: inherit;
}


main {
    flex: 1;
}



#movieList .card {
    width: 15rem;
    height: 27rem;
    background-color: hsla(0, 0%, 0%, 7.5%);
}

#movieList .card img {
    width: 100%;
    border-bottom: 0.125rem solid hsla(0, 0%, 0%, 30%);
}

#movieList .card .title {
    height: 100%;
    padding: 0.25rem;
    align-content: center;
}



#movieDetails {
    width: 30rem;
    margin: 0.75rem 1.25rem;
    padding: 0.75rem;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 2px 4px 8px hsla(0, 0%, 0%, 25%);
    background-color: hsla(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
}

#movieDetails img {
    width: 50%;
    margin-bottom: 0.25rem;
}

#movieDetails .title {
    color: inherit;
    text-decoration: none;
}

#movieDetails .title:hover {
    color: hsl(0, 0%, 75%);
    text-decoration: underline;
}

#movieDetails .details {
    width: 100%;
    padding: 0.5rem 2rem 1rem;
    justify-content: space-between;
}

#movieDetails .description {
    text-align: justify;
}



#showtimes #showtimeList .card {
    width: 27.5rem;
    height: 10rem;
    background-color: hsl(0, 0%, 92.5%);
}

#showtimes #showtimeList .card img {
    height: 100%;
    border-right: 0.125rem solid hsla(0, 0%, 0%, 30%);
}

#showtimes #showtimeList .details {
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0.25rem;
}

#showtimes #showtimeList .theatreDetails {
    justify-content: space-between;
}



#movieMain {
    flex: 1;
    padding: 0.5rem
}



/* #showtimeList {
    display: flex;
    flex-wrap: wrap;
} */

/* IMPROVE */
#movieMain #showtimeList .card {
    width: 20rem;
    display: flex;
    flex-flow: column;
    margin: 1rem;
    padding: 0.25rem;
    background-color: hsl(0, 0%, 92.5%);
    color: inherit;
    font-size: 1.25rem;
    border: 0.125rem solid hsl(0, 0%, 10%, 50%);
    border-radius: 0.5rem;
    text-decoration: none;
}

#movieMain #showtimeList .details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

#movieMain #showtimeList .card .time {
    padding: 0.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

#movieMain #showtimeList .revenue {
    margin-top: 0.25rem;
    font-size: 1.375rem;
    text-align: center;
}



#centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#centerCard {
    display: flex;
    flex-flow: column;
    width: 40%;
    height:fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 8px hsla(0, 0%, 0%, 25%);
    background-color: hsla(0, 0%, 0%, 25%);
    text-align: center;
}

#centerCard input {
    margin: 0.5rem 0rem;
    padding: 0.5rem;
}

#centerCard button {
    padding: 0.5rem;
}

#showtimeReservation #selection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: white;
}

#showtimeReservation #selection button {
    width: 3.75rem;
    height: 3.75rem;
    align-content: center;
    margin: 0.25rem;
    background-color: rgb(122, 122, 211);
    color: black;
    font-weight: bold;
    text-align: center;
}

#showtimeReservation #selection button:disabled {
    background-color: rgb(235, 106, 106);
}

#showtimeReservation #selection .selected {
    background-color: rgb(106, 235, 106);
}


#showtimeReservation #seatPrices .seatPrice {
    display: flex;
    justify-content: space-between;
}

#showtimeReservation #seatPrices .seatPrice .numberInput {
    display: flex;
}



#reservationList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#reservationList .card {
    width: 27.5rem;
    height: 10rem;
    display: flex;
    overflow: hidden;
    margin: 1rem;
    background-color: hsl(0, 0%, 92.5%);
    color: inherit;
    font-size: 1.25rem;
    border: 0.125rem solid hsl(0, 0%, 10%, 50%);
    border-radius: 0.5rem;
    box-shadow: 2px 4px 8px hsla(0, 0%, 0%, 25%);
    text-decoration: none;
}

#reservationList .card img {
    height: 100%;
    border-right: 0.125rem solid hsla(0, 0%, 0%, 30%);
}

#reservationList .details {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0.5rem 0.25rem;
}

#reservationList .card .title {
    width: 100%;
    font-size: 1.375rem;
    font-weight: bold;
    text-align: center;
}

#reservationList .card .time {
    padding: 0.25rem;
    font-size: 1.75rem;
    font-weight: bolder;
    text-align: center;
}

#reservationList .theatreDetails {
    display: flex;
    justify-content: space-between;
}

#reservationList .card .cost {
    text-align: center;
}



.flex {
    display: flex;
    flex-flow: row;
}

.flexCol {
    display: flex;
    flex-flow: column;
}

.flexWrap {flex-wrap: wrap;}

.contentList {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}


.card {
    overflow: hidden;
    margin: 1rem;
    border: 0.125rem solid hsla(0, 0%, 0%, 30%);
    border-radius: 0.5rem;
    box-shadow: 2px 4px 8px hsla(0, 0%, 0%, 25%);
    color: inherit;
    text-decoration: none;
    transition: transform 0.25s ease;
}

.card:hover {
    transform: scale(1.025);
}

.textCenter {text-align: center;}

.textBold {font-weight: bold;}
.textBolder {font-weight: bolder;}

.fontTitle {font-size: 1.75rem;}
.fontSubtitle {font-size: 1.5rem;}
.fontLarge {font-size: 1.375rem;}
.fontRegular {font-size: 1.25rem;}
.fontSmall {font-size: 1.125rem;}



/*

header {width: 100%; height: 75px; display: flex; flex-wrap: flex;}
.container {width: 100%; height: calc(100% - 75px); display: flex; flex-wrap: flex;}
.auth_container {width: 100%; height: 100%; display: flex; flex-wrap: flex; justify-content: center; align-items: center;}


.title {width: 85%; display: flex; align-items: center; background-color: #1b1b1b; padding: 10px;}
.account {width: 15%; display: flex; background-color: #000000; padding: 10px; flex-direction: column; flex-wrap: wrap; justify-content: space-around;}
.room_list {width: 15%; height: 100%; display: flex; flex-direction: column; background-color: #222222; padding: 5px; justify-content: space-between;}
.content {width: 75%; height: 100%; display: flex; flex-wrap: flex; flex-direction: column; justify-content: space-between; padding: 15px 5%;}
.member_list {width: 10%; height: 100%; display: flex; background-color: #222222; padding: 10px; flex-direction: column;}
.authenticate {width: 40%; height:fit-content; display: flex; background-color: #222222; padding: 20px; flex-direction: column;}

ul {width: 100%; font-size: 18px;}
li {padding: 5px; margin: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; border-radius: 5px;}
li:hover {background-color: #FFFFFF40;}
.room_link {color: #dbe1e2; text-decoration: none;}
.create_room {margin-bottom: 25px;}
.create_room form {margin: 5px;}
.create_room input[type=submit] {background-color: #16ec6f; height: 100%; padding: 2.5px; border: none; border-radius: 5px;}
.create_room input[type=submit]:hover {background-color: #16ec6f99;}


.user {font-size: 20px; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.account_options {font-size: 18px; color: #02aef1;}
.account_options a {color: #02aef1;}
.account_options a:hover {color: #27718f;}

.messages {height: 100%; overflow-y: scroll; scrollbar-color: #000000 #222222;}
.message {padding: 10px; margin: 15px 5px 15px 0px; border-radius: 10px;}
.message:hover {background-color: #00000030;}

.user_msg_info {font-size: 18px; font-weight: bold; margin-bottom: 5px;}
.timestamp {color: #888787; font-size: 15px; font-weight: normal; display: inline;}
.remove_msg {float: right; margin-right: 10px;}
.remove_msg input {background-color: #d61a1a; color: #dbe1e2; height: 100%; padding: 2.5px; border: none; border-radius: 5px;}
.remove_msg input:hover {background-color: #d61a1a99;}

.send_message {background-color: #424242; width: 100%; display: flex; justify-content: space-between; align-content: center; margin: 20px 0px; border-radius: 10px;}
.text_input {background: none; width: 100%; color: #dbe1e2; font-size: 16px; border: none; outline: none; padding: 10px; margin-right: 25px;}
.file_input {color: transparent; width: 165px; padding: 5px 0px 5px 5px;}
.file_input::-webkit-file-upload-button {background-color: #FFFFFF99; width: 125px; height: 100%; padding: 5px; border: 0px; border-radius: 5px}
.file_input::-webkit-file-upload-button:hover {background-color: #02aef199;}
.sumbit_message {background-color: #FFFFFF99; font-size: 14px; font-weight: bold; border: 0px; padding: 10px; border-radius: 0px 10px 10px 0px;}
.sumbit_message:hover {background-color: #16ec6f99;}


.authenticate h1 {text-align: center; text-decoration: underline; padding-bottom: 5px;}


.invalid {color: red;}
.success {color: green;}
.update {color: blue;}

.primary {color: #16ec6f;}
.secondary {color: #02aef1;}

*/