* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*:after {
    box-sizing: border-box;
}


:root {
    --ff: Arial, Helvetica, sans-serif;

    --f-header: bold 2rem/1.4em var(--ff);
    --f-title: bold 1.5rem/1.4em var(--ff);
    --f-large: bold 1.375rem/1.4em var(--ff);
    --f-regular: 1.125rem/1.4em var(--ff);
    --f-small: 1rem/1.4em var(--ff);

    --bg-dark10: hsl(0, 0%, 10%);
    --bg-dark15: hsl(0, 0%, 15%);
    --bg-dark25: hsl(0, 0%, 25%);
    --bg-light90: hsl(0, 0%, 90%);
    --bg-light85: hsl(0, 0%, 85%);
    --bg-light75: hsl(0, 0%, 75%);
    --bg-light65: hsl(0, 0%, 65%);
    --bg-light55: hsl(0, 0%, 55%);

    --bg-gradient: linear-gradient(0deg, var(--bg-light85) 90%, var(--bg-light90));
    --bg-gradient-hover: linear-gradient(0deg, var(--bg-light85), var(--bg-light90));
    --bg-gradient-active: linear-gradient(0deg, var(--bg-light75), var(--bg-light85));

    --fc-light: hsl(0, 0%, 95%);
    --fc-light-muted: hsl(0, 0%, 70%);
    --fc-dark:  hsl(0, 0%, 5%);
    --fc-dark-muted: hsl(0, 0%, 30%);

    --fc-success: hsl(125, 45%, 35%);
    --fc-fail: hsl(0, 60%, 50%);

    --b-small: 0.125rem solid hsl(0, 0%, 35%);
    --b-regular: 0.25rem solid hsl(0, 0%, 35%);
    --b-large: 0.375rem solid hsl(0, 0%, 25%);

    --br-small: 0.325rem;
    --br-regular: 0.5rem;
    --br-large: 0.75rem;

    --shadow: 1px 2px 2px hsla(0, 0%, 0%, 0.075), 2px 4px 4px hsla(0, 0%, 0%, 0.15);
    --shadow-inset: var(--shadow) inset;
    --shadow-inset-hover: 2px 4px 4px hsla(0, 0%, 0%, 0.075) inset, 4px 8px 8px hsla(0, 0%, 0%, 0.15) inset;
    --shadow-inset-active: 2px 4px 4px hsla(0, 0%, 0%, 0.15) inset, 4px 8px 8px hsla(0, 0%, 0%, 0.30) inset;

    --highlight: -1px -1px 1px hsla(0, 0%, 100%, 0.30);
    --highlight-inset: -1px -1px 1px hsla(0, 0%, 100%, 0.30) inset;
    --highlight-inset-hover: -2px -2px 2px hsla(0, 0%, 100%, 0.30) inset;
    --highlight-inset-active: -2px -2px 2px hsla(0, 0%, 100%, 0.60) inset;

    --transition-effect: all 0.25s ease;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: var(--bg-light75);
    color: var(--fc-dark);
    font: var(--f-regular);
}



.flex {
    display: flex;
    flex-flow: row;
}

.flexCol {
    display: flex;
    flex-flow: column;
}

.contentList {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.contentCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contentSpaced {
    justify-content: space-between;
}

.textCenter {
    text-align: center;
}

.textBold {
    font-weight: bold;
}

.textBolder {
    font-weight: bolder;
}


.feedbackSuccess {
    color: var(--fc-success);
}

.feedbackFail {
    color: var(--fc-fail);
}



header {
    padding: 0.5rem;
    background-color: var(--bg-dark10);
    color: var(--fc-light);
    font: var(--f-header);
    text-align: center;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-dark15);
    color: var(--fc-light-muted);
    font: var(--f-title);
}

#links,
#user {
    display: flex;
}

#links a {
    padding: 0.75rem 1.75rem;
    color: inherit;
    text-decoration: none;
    transition: var(--transition-effect);
}

#links a:hover {
    background-color: var(--bg-dark25);
    color: var(--fc-light);
}

#links a.selected {
    background-color: var(--bg-dark25);
}

#user a {
    margin: 0.5rem 0.5rem;
    padding: 0.125rem 0.75rem;
    border: var(--b-small);
    border-color: var(--bg-light85);
    border-radius: var(--br-small);
    background-color: var(--bg-light85);
    color: var(--fc-dark);
    text-decoration: none;
    transition: var(--transition-effect);
}

#user a:hover {
    background-color: var(--bg-dark15);
    color: var(--fc-light);
}



main {
    flex: 1;
    overflow-y: scroll;
}



#pageTitle {
    margin: 1rem;
    font: var(--f-title);
    text-align: center;
    text-decoration: underline;
}


.modal {
    width: min(625px, 90%);
    justify-self: center;
    align-self: center;
    border: var(--b-regular);
    border-radius: var(--br-large);
    box-shadow: var(--shadow);
    background: var(--bg-light75);
}

.modal::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
}

.modal .content {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1.5rem;
    align-items: center;
    font: var(--f-regular);
}

.modal .content .title {
    margin-bottom: 0.75rem;
    font: var(--f-large);
    text-decoration: underline;
}

.modal .content input,
.modal .content select {
    width: 100%;
    margin: 0.25rem;
    padding: 0.25rem;
    border: var(--b-small);
    border-color: hsla(125, 65%, 35%);
    border-radius: var(--br-small);
    background-color: var(--bg-light90);
    font: inherit;
}

.modal .content input:placeholder-shown,
.modal .content input:invalid,
.modal .content select:invalid {
    border: var(--b-small);
    background-color: var(--bg-light85);
}

.modal .content .buttons {
    width: 100%;
    margin-top: 0.75rem;
}

.modal .content .buttons button {
    width: 50%;
    margin: 0.25rem;
    padding: 0.25rem;
    border: var(--b-regular);
    border-color: var(--bg-dark25);
    border-radius: var(--br-regular);
    background: var(--bg-gradient);
    font: inherit;
    font-weight: bold;
    cursor: pointer;
}

.modal .content .buttons button:hover {
    background: var(--bg-gradient-hover);
}

.modal .content .buttons button:active {
    background: var(--bg-gradient-active);
}

.modal .content .feedback {
    margin-top: 0.75rem;
    font: var(--f-large);
    text-align: center;
}


.floatButton {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    margin: 2.5%;
    padding: 0.5rem 1.5rem;
    border: var(--b-large);
    border-radius: var(--br-regular);
    background: var(--bg-gradient);
    color: var(--fc-dark);
    font: var(--f-large);
    cursor: pointer;
    transition: var(--transition-effect);
}

.floatButton:hover {
    background: var(--bg-gradient-hover);
    transform: scale(1.0125);
}

.floatButton:active {
    background: var(--bg-gradient-active);
}

.floatButton.left {
    left: 0rem;
    right: auto;
}


.floatButton.create {
    background: hsl(107, 55%, 55%);
}

.floatButton.create:hover {
    background: hsl(108, 60%, 60%);
}

.floatButton.create:active {
    background: hsl(106, 50%, 50%);
}

.floatButton.delete {
    background: hsl(0, 55%, 55%);
}

.floatButton.delete:hover {
    background: hsl(0, 60%, 60%);
}

.floatButton.delete:active {
    background: hsl(0, 50%, 50%);
}


.card {
    overflow: hidden;
    margin: 1rem;
    border: var(--b-small);
    border-radius: var(--br-regular);
    box-shadow: var(--shadow);
    background: var(--bg-gradient);
    color: inherit;
    font: var(--f-regular);
    text-decoration: none;
    transition: var(--transition-effect);
}

.card:hover {
    background: var(--bg-gradient-hover);
    transform: scale(1.025);
}



#movieList .card {
    width: min(250px, 80%);
}

#movieList .card img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-bottom: var(--b-small);
}

#movieList .card .title {
    min-height: 3.75rem;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    padding: 0.25rem;
    align-content: center;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
}



#showtimeList .card {
    width: min(27.5rem, 80%);
    height: 10rem;
}

#showtimeList .card img {
    height: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-right: var(--b-small);
}

#showtimeList .details {
    width: 100%;
    padding: 0.5rem 0.25rem;
    text-align: center;
}

#showtimeList .details .time {
    font: var(--f-large);
}

#showtimeList .details .theatre {
    color: var(--fc-dark-muted);
    font: var(--f-small);
}



#movieDetails {
    position: relative;
    width: calc(max(375px, 25%) - 1.5rem);
    margin: 0.75rem 1.25rem;
    padding: 0.75rem;
    align-items: center;
    border-radius: var(--br-large);
    box-shadow: var(--shadow);
    background-color: var(--bg-dark15);
    color: var(--fc-light);
    font: var(--f-regular);
}

#movieDetails img {
    width: 50%;
    margin-bottom: 0.25rem;
}

#movieDetails .title {
    color: inherit;
    font: var(--f-large);
    text-align: center;
    text-decoration: none;
}

#movieDetails .title:hover {
    color: var(--fc-light-muted);
    text-decoration: underline;
}

#movieDetails .details {
    width: 100%;
    padding: 0.5rem 2rem;
    text-align: center;
}

#movieDetails .description {
    overflow-y: scroll;
    scrollbar-color: hsla(0, 0%, 25%, 75%) transparent;
    color: var(--fc-light-muted);
    font: var(--f-small);
    text-align: justify;
}

#movieDetails .description:-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 25%, 75%);
}

#movieDetails .description:-webkit-scrollbar-track {
    background: transparent;
}

#movieDetails .feedback {
    margin: 0.5rem;
    text-align: center;
    font-weight: bold;
}



#movieMain {
    width: calc(min(75%, calc(100% - 375px)) - 1rem);
    position: relative;
    padding: 0.5rem;
    overflow-y: scroll;
}

#movieMain .date {
    color: var(--fc-dark);
    font: var(--f-large);
}

#movieMain .showtimeList {
    margin-bottom: 0.75rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#movieMain .showtimeList .card {
    flex-shrink: 0;
    width: 21rem;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem;
    scroll-snap-align: center;
}

#movieMain .showtimeList .details {
    margin-bottom: 0.25rem;
    color: var(--fc-dark-muted);
    text-align: center;
}

#movieMain .showtimeList .card .time {
    padding: 0.25rem;
    font: var(--f-large);
    text-align: center;
}

#movieMain .feedback {
    margin: 2.5rem 1rem;
    font: var(--f-large);
    font-weight: bold;
}


#showtimeReservation #seatSelection {
    margin: 1rem;
    padding: 0.375rem;
    border: var(--b-small);
    border-radius: var(--br-large);
    box-shadow: var(--shadow);
    background-color: var(--bg-light65);
}

#showtimeReservation #seatSelection .title {
    margin: 0.375rem;
    font: var(--f-large);
    text-align: center;
}

#showtimeReservation #seatSelector {
    justify-content: center;
    flex-wrap: wrap;
}

#showtimeReservation #seatSelector button {
    height: 3rem;
    aspect-ratio: 1/1;
    margin: 0.375rem;
    border: none;
    border-radius: var(--br-small);
    box-shadow: var(--shadow), var(--highlight);
    background-color: hsl(215, 55%, 55%);
    font: var(--f-regular);
    transition: var(--transition-effect);
}

#showtimeReservation #seatSelector .enabled {
    font-weight: bold;
    cursor: pointer;
}

#showtimeReservation #seatSelector .enabled:hover {
    box-shadow: var(--shadow-inset-hover), var(--highlight-inset-hover);
    background-color: hsl(215, 55%, 50%);
}

#showtimeReservation #seatSelector .enabled:active {
    box-shadow: var(--shadow-inset-active), var(--highlight-inset-active);
    background-color: hsl(215, 55%, 45%);
}

#showtimeReservation #seatSelector .disabled {
    box-shadow: var(--shadow-inset), var(--highlight-inset);
    background-color: hsl(0, 55%, 55%);
}

#showtimeReservation #seatSelector .selected {
    box-shadow: var(--shadow-inset), var(--highlight-inset);
    background-color: hsl(125, 55%, 55%);
}

#showtimeReservation #seatSelector .selected:hover {
    box-shadow: var(--shadow-inset-hover), var(--highlight-inset-hover);
    background-color: hsl(125, 55%, 50%);
}

#showtimeReservation #seatSelector .selected:active {
    box-shadow: var(--shadow-inset), var(--highlight-inset);
    background-color: hsl(125, 55%, 45%);
}


#showtimeReservation #seatPrices {
    margin: 1rem;
    border: var(--b-small);
    border-radius: var(--br-large);
    box-shadow: var(--shadow);
    overflow: hidden;
}

#showtimeReservation #seatPrices .title {
    padding: 0.375rem;
    background-color: var(--bg-dark25);
    color: var(--fc-light);
    font: var(--f-large);
}

#showtimeReservation #seatPrices .seatPrice {
    border-top: var(--b-small);
    font: var(--f-regular);
}

#showtimeReservation #seatPrices .seatPrice:nth-child(odd) {
    background-color: var(--bg-light55);
}

#showtimeReservation #seatPrices .seatPrice:nth-child(even) {
    background-color: var(--bg-light65);
}

#showtimeReservation #seatPrices .seatPrice .customer {
    width: 10rem;
    padding: 0.5rem;
    font-weight: bold;
}

#showtimeReservation #seatPrices .seatPrice .customerCount {
    width: 2.5rem;
    padding: 0.5rem;
}

#showtimeReservation #seatPrices .seatPrice .price {
    padding: 0.5rem;
    border-left: var(--b-small);
}

#showtimeReservation #seatPrices .seatPrice .revenue {
    width: 7.5rem;
    padding: 0.5rem;
    border-left: var(--b-small);
}

#showtimeReservation #seatPrices .seatPrice .numberInput {
    font-weight: bold;
}

#showtimeReservation #seatPrices .seatPrice .numberInput .count {
    width: 5rem;
    padding: 0.5rem;
    border-left: var(--b-small);
    border-right: var(--b-small);
    text-align: center;
}

#showtimeReservation #seatPrices .seatPrice .numberInput button {
    width: 3.75rem;
    border: none;
    font: inherit;
    cursor: pointer;
    transition: var(--transition-effect);
}

#showtimeReservation #seatPrices .seatPrice .numberInput .decrease {
    border-left: var(--b-small);
    background-color: hsla(0, 80%, 55%, 40%);
}

#showtimeReservation #seatPrices .seatPrice .numberInput .decrease:hover {
    background-color: hsla(0, 80%, 65%, 40%);
}

#showtimeReservation #seatPrices .seatPrice .numberInput .decrease:active {
    background-color: hsla(0, 80%, 45%, 40%);
}

#showtimeReservation #seatPrices .seatPrice .numberInput .increase {
    background-color: hsla(125, 85%, 60%, 40%);
}

#showtimeReservation #seatPrices .seatPrice .numberInput .increase:hover {
    background-color: hsla(125, 85%, 70%, 40%);
}

#showtimeReservation #seatPrices .seatPrice .numberInput .increase:active {
    background-color: hsla(125, 85%, 50%, 40%);
}

#showtimeReservation .feedback {
    margin: 0rem 1rem;
    font: var(--f-large);
}



#userDetails {
    align-items: center;
}

#userDetails .userDetail {
    width: min(750px, 90%);
    display: flex;
    flex-flow: column;
    margin: 1rem;
    padding: 1rem;
    align-items: center;
    border-radius: var(--br-large);
    box-shadow: var(--shadow);
    background: var(--bg-dark25);
    color: var(--fc-light);
    font: var(--f-regular);
}

#userDetails .userDetail .title {
    margin-bottom: 0.5rem;
    font: var(--f-large);
}

#userDetails .userDetail input,
#userDetails .userDetail button {
    width: 100%;
    margin: 0.25rem;
    padding: 0.25rem;
    font: var(--f-regular);
    font: inherit;
}

#userDetails .userDetail input {
    border: var(--b-small);
    border-color: hsla(125, 65%, 35%);
    border-radius: var(--br-small);
    background-color: var(--bg-light90);
}

#userDetails .userDetail input:placeholder-shown,
#userDetails .userDetail input:invalid {
    border: var(--b-small);
    background-color: var(--bg-light85);
}

#userDetails .userDetail button {
    margin-top: 0.75rem;
    border: var(--b-regular);
    border-radius: var(--br-regular);
    background: var(--bg-gradient);
    font-weight: bold;
    cursor: pointer;
}

#userDetails .userDetail button:hover {
    background: var(--bg-gradient-hover);
}

#userDetails .userDetail button:active {
    background: var(--bg-gradient-active);
}

#userDetails .userDetail .feedback {
    margin-top: 0.75rem;
    font: var(--f-large);
    font-weight: bold;
    text-align: center;
}