<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieSiteName | Admin |</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        MovieSiteName
    </header>

    <nav>
        <div id="links">
            <a href="/movies">Movies</a>
            <a href="/showtimes">Showtimes</a>
        </div>
        <div id="user">
        </div>
    </nav>

    <main id="flexContent" class="flex">
        <div id="movieDetails" class="flexCol">
            <button id="adminButton" class="delete textBold" onclick="deleteMovie()">- Delete Movie</button>
        </div>
        
        <div id="movieMain">
            <div id="pageTitle" class="textCenter textBold">Showtimes</div>
            <button id="adminButton" class="create textBold" onclick="openModal()">+ Create Showtime</button>
        </div>

        <dialog id="modal">
            <div class="content flexCol">
                <div class="title textBold">Create New Showtime</div>
                <input type="date" id="date" required />
                <input type="time" id="startTime" required />
                <input type="number" id="totalSeats" min=1 default=1 placeholder="Enter total theatre seats..." required />
                <select id="theatre" required>
                    <option value="" disabled selected hidden>Select theatre type...</option>
                </select>
                <div class="buttons flex">
                    <button class="textBold" onclick="cancelModal()">Cancel</button>
                    <button class="textBold" onclick="createShowtime()">Create</button>
                </div>
                <div id="showtimeFeedback" class="feedback textBold"></div>
            </div>
        </dialog>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/user.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/adminMovie.js') }}"></script>
</body>

</html>