{% extends "base.html" %}

{% block title %}Admin | Movies{% endblock %}

{% block content %}
    <main>
        <button class="floatButton create" onclick="openModal()">+ Post Movie</button>

        <div id="movieList" class="contentList">
        </div>

        <dialog id="movieModal" class="modal">
            <div class="content">
                <div class="title">New Movie</div>
                <input type="text" id="title" placeholder="Enter movie title..." required />
                <input type="text" id="genre" placeholder="Enter movie genre..." required />
                <input type="textarea" id="description" placeholder="Enter movie description..." />
                <input type="text" id="image" placeholder="Enter url to movie poster..." required />
                <input type="number" id="length" min=1 default=1 placeholder="Enter movie minute length..." required />
                <div class="buttons flex">
                    <button onclick="cancelModal()">Cancel</button>
                    <button onclick="createMovie()">Post</button>
                </div>
                <div id="movieFeedback" class="feedback textBold"></div>
            </div>
        </dialog>
    </main>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/adminMovies.js') }}"></script>
{% endblock %}