{% extends "base.html" %}

{% block title %}Admin | {% endblock %}

{% block content %}
    <main class="flex">
        <div id="movieDetails" class="flexCol">
        </div>
        <div id="movieMain">
            <button class="floatButton delete" onclick="deleteShowtime()">- Remove Showtime</button>
            <div id="showtimeDetails"></div>
            <div id="showtimeReservation"></div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/adminShowtime.js') }}"></script>
{% endblock %}