<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieSiteName | Admin | Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        MovieSiteName
    </header>

    <nav>
        <div id="links">
            <a href="/movies">Movies</a>
            <a href="/showtimes">Showtimes</a>
        </div>
        <div id="user">
        </div>
    </nav>

    <main>
        <div id="pageTitle" class="textCenter textBold">Movies</div>
        <button id="adminButton" class="create textBold" onclick="openModal()">+ Create Movie</button>

        <div id="movieList" class="contentList">
        </div>

        <dialog id="modal">
            <div class="content flexCol">
                <div class="title textBold">Create New Movie</div>
                <input type="text" id="title" placeholder="Enter movie title..." required />
                <input type="text" id="genre" placeholder="Enter movie genre..." required />
                <input type="textarea" id="description" placeholder="Enter movie description..." />
                <input type="text" id="image" placeholder="Enter url to movie poster..." required />
                <input type="number" id="length" min=1 default=1 placeholder="Enter movie minute length..." required />
                <div class="buttons flex">
                    <button class="textBold" onclick="cancelModal()">Cancel</button>
                    <button class="textBold" onclick="createMovie()">Create</button>
                </div>
                <div id="feedback" class="feedback textBold"></div>
            </div>
        </dialog>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/user.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/adminMovies.js') }}"></script>
</body>

</html>