{% extends "base.html" %}

{% block title %}Admin | {% endblock %}

{% block content %}
    <main id="flexContent" class="flex">
        <div id="movieDetails" class="flexCol">
            <button id="adminButton" class="delete textBold" onclick="deleteMovie()">- Delete Movie</button>
        </div>
        
        <div id="movieMain">
            <div id="pageTitle" class="textCenter textBold">Showtimes</div>
            <button id="adminButton" class="create textBold" onclick="openModal()">+ Create Showtime</button>
        </div>

        <dialog id="modal">
            <div class="content flexCol">
                <div class="title textBold">Create New Showtime</div>
                <input type="date" id="date" required />
                <input type="time" id="startTime" required />
                <input type="number" id="totalSeats" min=1 default=1 placeholder="Enter total theatre seats..." required />
                <select id="theatre" required>
                    <option value="" disabled selected hidden>Select theatre type...</option>
                </select>
                <div class="buttons flex">
                    <button class="textBold" onclick="cancelModal()">Cancel</button>
                    <button class="textBold" onclick="createShowtime()">Create</button>
                </div>
                <div id="showtimeFeedback" class="feedback textBold"></div>
            </div>
        </dialog>
    </main>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/adminMovie.js') }}"></script>
{% endblock %}