{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <main class="contentCentered">
        <div id="authCard" class="centerCard flexCol textCenter">
            <div class="title textBold">User Login</div>
            <input type="text" id="username" placeholder="Enter username..." required />
            <input type="password" id="password" placeholder="Enter password..." required />
            <button class="textBold" onclick="login()">Login</button>
            <div id="feedback" class="feedback textBold"></div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}