<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieSiteName | Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        MovieSiteName
    </header>

    <nav>
        <div id="links">
            <a href="/movies">Movies</a>
            <a href="/showtimes">Showtimes</a>
        </div>
        <div id="user">
        </div>
    </nav>

    <main class="contentCentered">
        <div id="authCard" class="centerCard flexCol textCenter">
            <div class="title textBold">User Sign Up</div>
            <input type="text" id="username" placeholder="Enter username..." required />
            <input type="password" id="password" placeholder="Enter password..." required />
            <input type="password" id="confirm" placeholder="Confirm password..." required />
            <button class="textBold" onclick="signup()">Sign Up</button>
            <div id="feedback" class="feedback textBold"></div>
        </div>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/user.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/signup.js') }}"></script>
</body>

</html>