<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieSiteName | User Options</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        MovieSiteName
    </header>

    <nav>
        <div id="links">
            <a href="/movies">Movies</a>
            <a href="/showtimes">Showtimes</a>
        </div>
        <div id="user">
        </div>
    </nav>

    <main id="userDetails" class="flexCol">
        <div id="pageTitle" class="textCenter textBold">User Details</div>
        <div id="updateUsername" class="userDetail flexCol">
            <div class="title textCenter textBold">Update Username</div>
            <input type="text" id="username" placeholder="Enter new username..." />
            <button class="textBold" onclick="updateUsername()">Update Username</button>
            <div id="usernameFeedback" class="feedback textCenter textBold"></div>
        </div>
        <div id="updatePassword" class="userDetail flexCol">
            <div class="title textCenter textBold">Update Password</div>
            <input type="password" id="currentPassword" placeholder="Enter current password..." />
            <input type="password" id="newPassword" placeholder="Enter new password..." />
            <input type="password" id="confirm" placeholder="Confirm new password..." />
            <button class="textBold" onclick="updatePassword()">Update Password</button>
            <div id="passwordFeedback" class="feedback textCenter textBold"></div>
        </div>
        <div class="reservationsTitle textCenter textBold">User Reservations</div>
        <div id="reservationList" class="contentList">
        </div>
    </main>

    <script type="module" src="static/user.js"></script>
    <script type="module" src="static/userSettings.js"></script>
</body>

</html>