{% extends "base.html" %}

{% block title %}User Details{% endblock %}

{% block content %}
    <main id="userDetails" class="flexCol">
        <div id="pageTitle">User Details</div>

        <div id="updateUsername" class="userDetail">
            <div class="title">Update Username</div>
            <input type="text" id="username" placeholder="Enter new username..." />
            <button onclick="updateUsername()">Update Username</button>
            <div id="usernameFeedback" class="feedback"></div>
        </div>

        <div id="updatePassword" class="userDetail">
            <div class="title">Update Password</div>
            <input type="password" id="currentPassword" placeholder="Enter current password..." />
            <input type="password" id="newPassword" placeholder="Enter new password..." />
            <input type="password" id="confirm" placeholder="Confirm new password..." />
            <button onclick="updatePassword()">Update Password</button>
            <div id="passwordFeedback" class="feedback"></div>
        </div>

        <div id="pageTitle">Showtime Reservations</div>
        <div id="showtimeList" class="contentList">
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/userSettings.js') }}"></script>
{% endblock %}